.login {
  position: absolute;
  width: 360px;
  height: min-content;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
  left: 40%;
  border-style: groove;
  border-width: 0.00001cm;
  border-color: lightgrey;
  margin-top: 70px;
}
.login h1,
h1 {
    font-size: 24px;
    font-weight: var(--base-text-weight-light, 300);
    letter-spacing: -0.5px;
   

 
}
.login h6,h6{
  font-size: 24px;
    font-weight: var(--base-text-weight-light, 300);
    letter-spacing: -0.5px;
    margin-left: 80vh;

}

.logindiv{
  margin-top: 10vh;
}

.nav--iconn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 1vh;
    margin-bottom: 2vh;
}
.formm{
  width: 40vh;
  margin-left: 70vh;
  margin-top: 1vh;
}