.seats {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  margin-left: -115vh;
  margin-right: 5vh;
  margin-top: 10vh;
}
.get-ticket{
  background-color: #373e98;
  margin-top: 5vh;
  margin-left:-70vh;
  width: 15vh;
}
.get-ticket:hover{background-color: #f16775;}
