.seats {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  margin-left: 20vh;
  margin-right: 30vh;
  margin-top: 10vh;
}
.get-ticket{
  background-color: #373e98;
  margin-top: 10vh;
  margin-left: 79vh;
}
.get-ticket:hover{background-color: #f16775;}
